
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>

<h1>Razor syntax demo</h1>

<h2>@DateTime.Now.ToShortDateString()</h2>

@{
    string date = DateTime.Now.ToShortDateString();
    string message = "Hello World";
}

<h2>Today's date is: @date </h2>
<h3>@message</h3>

@{
    string date2 = DateTime.Now.ToShortDateString();
    string message2 = "Hello World!";
    @:Today's date is: @date2 <br />
    @message2
}

<button>Click</button>