@{
    ViewBag.Title = "Yahoo Scraper Portal Page";
}

<div class="jumbotron">
   <h1 style="text-align:center">Yahoo Financial Scraper</h1>
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
        <input type="button" value="Register" onclick="location.href='@Url.Action("Register","Account")'" />
        <input type="button" value="Login" onclick="location.href='@Url.Action("Login","Account")'" />

    </div>
    <div class="col-md-4">
       
    </div>
</div>