@{
    ViewBag.Title = "Yahoo Scraper Portal Page";
}

<div class="jumbotron">
   <h1 style="text-align:center">Yahoo Financial Scraper</h1>
</div>

<div class="row">
    <div style="margin: 0 auto; width: 656px; text-align: center;">

        <input type="submit" class="btn btn-secondary" value="Register" onclick="location.href='@Url.Action("Register","Account")'" />
        <input type="submit" class="btn btn-secondary" value="Login" onclick="location.href='@Url.Action("Login","Account")'" />

    </div>
</div>